{% extends "base.html" %}
{% load static %}
{% block title %}Coding Nexus{% endblock %}

{% block content %}


<link rel="stylesheet" href="{% static 'css/educator.css' %}" />

<div class="container">
    {% if is_student %}
    <div class="title-container">
        <div class="title">CLASSES YOU ARE ENROLLED</div>
        <div class="join-class-button">
            <div class="join-class-bg"></div>
            <div class="join-class-text">Join Class</div>
        </div>
    </div>
    <div class="educators">
        {% for classroom in enrolled_classes %}
        <a href="{% url 'lectures' classroom.id %}">
            <div class="teacher-card">
                <img class="card-background" src="{% static 'images/classroombg.jpg' %}">
                <div class="teacher-name">{{ classroom.name }}</div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% endif %}

    {% if is_instructor %}
    <div class="title-container">
        <div class="title">CLASSES YOU ARE TEACHING</div>
    </div>
    <div class="educators">
        {% for classroom in instructed_classes %}
        <a href="{% url 'lectures' classroom.id %}">
            <div class="teacher-card">
                <img class="card-background" src="{% static 'images/classroombg.jpg' %}">
                <div class="teacher-name">{{ classroom.name }}</div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}