{% extends "base.html" %}
{% load static %}
{% block title %}Coding Nexus{% endblock %}

{% block content %}

<style>
    .nav-item a#course {
        color: #972726;
        font-weight: bold;
    }
    .pdf-viewer {
        width: 100%;
        height: 600px;
        border: none;
        margin-top: 20px;
    }
</style>
<link rel="stylesheet" href="{% static 'css/courses.css' %}" />

<div class="welcome-text">WELCOME TO COURSES</div>
<div class="courses">
    {% for course in courses %}
    <div class="course-box" onclick="showPDF({{ course.id }});">
        <img class="course-card" src="{{ course.course_image.url }}" alt="{{ course.course_name }}">
        <!-- <div class="course-name">{{ course.course_name }}</div> -->
    </div>
    {% endfor %}
</div>

<div id="pdfContainer" style="display:none;">
    <iframe id="pdfViewer" class="pdf-viewer" src="" type="application/pdf"></iframe>
</div>

<script>
    function showPDF(courseId) {
        var pdfContainer = document.getElementById('pdfContainer');
        var pdfViewer = document.getElementById('pdfViewer');
        var url = '/view_pdf/' + courseId + '/';

        // Set the src of the iframe to the PDF URL
        pdfViewer.src = url;
        pdfContainer.style.display = 'block';
    }
</script>

{% endblock %}