{% extends "base.html" %}
{% load static %}
{% block title %}Coding Nexus{% endblock %}

{% block content %}

<style>
    .nav-item a#course {
        color: #972726;
        font-weight: bold;
    }
</style>
<link rel="stylesheet" href="{% static 'css/courses.css' %}" />

<div class="welcome-text">WELCOME TO COURSES</div>
<div class="courses">
    {% for course in courses %}
    <div class="course-box" onclick="openPDF('{{ course.id }}');">
        <img class="course-card" src="{{ course.course_image.url }}" alt="{{ course.course_name }}">
    </div>
    {% endfor %}
</div>

<script>
    function openPDF(courseId) {
        var url = '/view_pdf/' + courseId + '/';
        window.open(url, '_blank');
    }
</script>

{% endblock %}