{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Verify OTP</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lr_style.css' %}">
</head>
<body>
  <form class="form_main" action="{% url 'verify_otp' %}" method="POST">
    {% csrf_token %}
    <p class="heading">Verify OTP</p>

    <!-- OTP Input -->
    <div class="inputContainer">
        <input placeholder="OTP" name="otp" class="inputField" type="text" required>
    </div>

    <!-- Password Input -->
    <div class="inputContainer">
        <input placeholder="Password" name="password" class="inputField" type="password" required>
    </div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="message {{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <button id="button">Verify OTP</button>
  </form>
</body>
</html>
