{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <link rel="icon" href="{% static 'images/logo.ico' %}" type="image/x-icon" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        /* Custom Colors */
        .bg-custom-pink {
            background-color: #CB9393;
        }

        .bg-custom-dark-red {
            background-color: #972726;
        }

        .hover-bg-custom-dark-red:hover {
            background-color: #972726;
        }

        .bg-custom-gray {
            background-color: #d0d0d0;
        }

        .text-custom-dark-red {
            color: #972726;
        }
    </style>
</head>

<body class="min-h-screen flex flex-col justify-between">
    <div class="flex flex-col justify-center items-center flex-1 px-6">
        <div class="w-full max-w-lg bg-white p-10 rounded-lg shadow-lg border border-gray-300">
            <form class="space-y-6" action="{% url 'verify_otp' %}" method="POST">
                {% csrf_token %}
                <div class="text-center text-4xl font-extrabold mb-6">Verification</div>
                <p class="text-gray-600 text-center mb-4">
                    We have sent a 6-Digit confirmation code to your e-mail.
                </p>

                <div>
                    <input placeholder="OTP" name="otp" type="text"
                        class="w-full p-3 bg-custom-gray rounded-lg text-lg focus:ring-2 focus:ring-custom-dark-red focus:outline-none"
                        required>
                </div>

                <div class="text-center text-sm text-gray-600">
                    <a href="{% url 'register' %}" class="text-custom-dark-red hover:underline">Not your email?</a>
                </div>

                <button
                    class="w-full bg-custom-pink hover-bg-custom-dark-red text-black font-bold py-3 rounded-full transition duration-300">
                    Continue
                </button>
            </form>
        </div>
    </div>

    <!-- Footer -->
    <footer class="bg-custom-dark-red text-white text-center p-4">
        <p class="text-sm">© 2024 Coding Nexus. All Rights Reserved.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script>
        var notyf = new Notyf({
            position: {
                x: 'center',
                y: 'top',
            }
        });

        function showSuccessMessage(message) {
            notyf.success(message);
        }

        function showErrorMessage(message) {
            notyf.error(message);
        }
    </script>

    {% if messages %}
    <script>
        {% for message in messages %}
        {% if message.tags == 'success' %}
        showSuccessMessage("{{ message }}");
        {% elif message.tags == 'error' %}
        showErrorMessage("{{ message }}");
        {% endif %}
        {% endfor %}
    </script>
    {% endif %}
</body>

</html>
