<div class="nav-section">
    <a href="home.html" class="nav-icon">
        <img src="assets/logo.png" alt="CN Logo" class="logo" />
    </a>
    <div class="nav-items">
        <div class="nav-item"><a href="home.html">HOME</a></div>
        <div class="nav-item"><a class="active" href="courses.html">COURSES</a></div>
        <div class="nav-item"><a href="educators.html">CLASSROOM</a></div>
        <div class="nav-item"><a href="about.html">ABOUT</a></div>

        <!-- Profile Dropdown Menu -->
        <div class="nav-item profile-dropdown">
            <a href="#" class="profile-icon">
                <i class="fas fa-user-circle"></i> <!-- FontAwesome Profile Icon -->
            </a>
            <div class="dropdown-content">
                <a href="login.html">Login/Logout</a>
                <a href="manageacc.html">Manage Profile</a>
            </div>
        </div>

    
    </div>
    <div class="hamburger-icon" onclick="toggleNav()">
        <i class="fas fa-bars"></i>
    </div>
</div>

<!-- Search bar for mobile view -->
<div class="mobile-search">
<input type="text" placeholder="Search...">
</div>

<div class="mobile-nav-items" id="mobileNav">
<div class="nav-item">HOME</div>
<div class="nav-item">COURSES</div>
<div class="nav-item">EDUCATORS</div>
<div class="nav-item">ABOUT</div>
<div class="nav-item">PROFILE</div>
<div class="nav-item">LOGIN</div>
</div>